<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuches PSD | Inicio</title>
    <link rel="icon" href="../static/imgs/logo_chuchesPSD.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo"><img src="../static/imgs/logo_chuchesPSD.png" alt="Logo" height="50"></a>
            <div class="navbar-search">
                <input type="text" placeholder="Buscar...">
            </div>
            <ul class="navbar-menu">
                <li><a href="{{url_for('login')}}">Inicio de sesión</a></li>
                {% if user %} <!-- Si el usuario está autenticado -->
                    <li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
                    <li><a href="#">Ver carrito</a></li>
                {% else %}
                    <li><a href="{{url_for('register')}}">Registrarse</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <section class="container" style="padding: 0;">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="../static/imgs/banner1.jpg" alt="Anuncio 1" />
                <img id="slide-2" src="../static/imgs/banner2.jpg" alt="Anuncio 2" />
                <img id="slide-3" src="../static/imgs/banner3.jpg" alt="Anuncio 3" />
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>

    <section class="products">
		<div class="all-products">
			<div class="product">
				<img src="../static/imgs/Cookies.png">
				<div class="product-info">
					<h4 class="product-title">Cookies</h4>
					<p class="product-price">15€</p>
					<a class="product-btn" href="#">Añadir al carrito</a>

				</div>
			</div>
			<div class="product">
				<img src="../static/imgs/Brownies.png">
				<div class="product-info">
					<h4 class="product-title">Brownies</h4>
					<p class="product-price">20€</p>
					<a class="product-btn" href="#">Añadir al carrito</a>

				</div>
			</div>
			<div class="product">
				<img src="../static/imgs/Chuches.png">
				<div class="product-info">
					<h4 class="product-title">Gominolas</h4>
					<p class="product-price">10€</p>
					<a class="product-btn" href="#">Añadir al carrito</a>

				</div>
			</div>
			<div class="product">
				<img src="ipad-pro.jpg">
				<div class="product-info">
					<h4 class="product-title">Caja misteriosa</h4>
					<p class="product-price">629€</p>
					<a class="product-btn" href="#">Añadir al carrito</a>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
