<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
  <div class="wrapper">
    <h2>Inventario</h2>
    <ul>
        {% for product in products %}
        <li>
            <strong>{{ product.nombre }}</strong> - {{ product.descripcion }} - {{ product.precio }}€ - Stock: {{ product.stock }}
            {% if product.image_path %}
            <br>
            <!-- Imagen del producto con tamaño reducido -->
            <img src="{{ url_for('static', filename=product.image_path) }}" alt="{{ product.nombre }}" class="inventory-product">
            {% endif %}
            <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Agregar Producto</h2>
    <form action="{{ url_for('inventario') }}" method="POST">
        <input type="text" name="nombre" placeholder="Nombre del producto" required>
        <textarea name="descripcion" placeholder="Descripción" required></textarea>
        <input type="text" name="precio" placeholder="Precio" required>
        <input type="text" name="stock" placeholder="Stock" required>
        <label for="imagen">Elige una imagen:</label>
        <select name="imagen" id="imagen" required>
            <option value="Bombones.jpg">Bombones</option>
            <option value="Brownies.jpg">Brownies</option>
            <option value="Caramelos.jpg">Caramelos</option>
            <option value="Cookies.jpg">Cookies</option>
            <option value="Gominolas.jpg">Gominolas</option>
            <option value="Nubes.jpg">Nubes</option>
        </select>
        <button type="submit">Agregar Producto</button>
    </form>
    <a href="{{ url_for('inicio') }}"><button>Volver al Inicio</button></a>
</div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>