<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuches PSD | Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <form action="#">
            <h2>🍬🍭 LOGIN 🍭🍬</h2>
            <div class="input-field">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Contraseña" required>
            </div>
            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember">
                    <span class="text">Recuerdame</span>
                </label>
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <span class="text">No tienes una cuenta?</span>
                <a href="{{url_for('register')}}">Registrate</a>
            </div>
            <div class="register">
                <a href="{{url_for('inicio')}}">Volver al inicio</a>
            </div>
        </form>

    </div>
</body>
</html>