<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Chuches PSD | Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="wrapper">
    <form action="{{ url_for('login') }}" method="POST">
      <h2>Login</h2>
      {% if error %}
         <p style="color:red;">{{ error }}</p>
      {% endif %}
      <input type="text" name="login" placeholder="Email o Nombre de Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">Iniciar Sesión</button>
    </form>
    <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Registrate</a></p>
  </div>
</body>
</html>
