<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuches PSD | Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <form action="{{ url_for('register') }}" method="POST">
            <h2>🍬🍭 SIGNUP 🍭🍬</h2>
            <div class="input-field">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-field">
                <input type="date" name="nacimiento" placeholder="Fecha de nacimiento" required>
            </div>
            <div class="input-field">
                <input type="text" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="input-field">
                <input type="text" name="apellidos" placeholder="Apellidos" required>
            </div>
            <div class="input-field">
                <select name="pais" required>
                    <option value="" disabled selected>Selecciona tu país</option>
                    <option value="es">España</option>
                    <option value="mx">México</option>
                    <option value="ar">Argentina</option>
                    <option value="cl">Chile</option>
                    <option value="co">Colombia</option>
                </select>
            </div>
            <div class="input-field">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Registrarse</button>
            <div class="login">
                <span class="text">¿Ya tienes una cuenta?</span>
                <a href="{{ url_for('login') }}">Inicia sesión</a>
            </div>
            <div class="login">
                <a href="{{ url_for('inicio') }}">Volver al inicio</a>
            </div>
        </form>
    </div>
</body>
</html>
